.content {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  background-color: rgb(172, 206, 215);
  text-align: center;
  border: 2px solid rgb(67, 122, 89);
  border-radius: 10px;
  color: $color;
}
